@using Shop.MVC.ModelViews
@*
*@
@{
}

@model ProductWithImageModelView

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <img src="@Model.ImageUrl" class="img-fluid"></img>
        </div>
        <div class="col">
            <div class="m-5 bg-light h-15 w-50 align-content-center mx-auto d-block">
                <h1 class="text-black text-center">@Model.Product.Name</h1>
                <h2 class="text-black text-center">@Model.Product.Price</h2>
                <button type="button" class="btn btn-outline-success mx-auto d-block w-75">В корзину</button>
            </div>
            <div class="h-75 m-5 w-100 mx-auto d-block">
                <div class="text-black text-wrap">@Model.Product.Description</div>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <h2 class="text-black ">Комментарии:</h2>
</div>

<div class="container my-5">
    <div class="row">
        @for (int i = 0; i < 13; i++)
        {
            <div class="card m-2">
                <div class="row">
                    <div class="col col-1">
                        <img class="card-img" src="/img/noimg.png"></img>
                    </div>
                    <div class="col col-11">
                        <h4>Никнейм</h4>
                        <h5>Ну продукт ваще говно я купил, распаковал, а он с плесенью!!! Как вообще плесень в солнечных очках быть может, а? Что за беспредел, я буду жаловаться отцу, а он у меня прокурор!!!!!!!</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
