@{
    ViewData["Title"] = "Home Page";
}
@model Shop.MVC.ModelViews.CategoriesModelView

<div class="container row row-cols-6 text-center align-content-center">
    @foreach (var item in Model.CategoriesWithImages)
    {
        <div class="col">
            <a href="@Url.Action("", "Home", new {})">
                <div class="card m-1">
                    <div class="card-body">
                        <img class="card-img text-center" style="width: 150px; height: 150px" src="@item.ImageUrl"/>
                    </div>
                    <div class="card-footer">
                        <div class="text-black text-center">@item.Category.Name</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
