@{
    ViewData["Title"] = "Privacy Policy";
}
@model Shop.MVC.ModelViews.ProductsModelView

<div class="container">
    <div class="row row-cols-6">
        @foreach(var item in Model.ProductsWithImages)
        {
            <div class="col">
                <a href="" class="text-decoration-none">
                    <div class="card bg-light mb-4">
                        <div class="card-body">
                            <img class="card-img" src="@item.ImageUrl">
                        </div>
                        <div class="card-footer">
                            <div class="text-black text-center">@item.Product.Name</div>
                            <div class="text-black text-center">@item.Product.Price</div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <div>
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
        <img src="/img/noimg.png">
    </div>
</div>
