@{
    ViewData["Title"] = "Privacy Policy";
}
@model IEnumerable<Shop.MVC.ModelViews.ProductModelView>

<div>
    @foreach(var item in Model)
    {
        <p>@item.Name</p>
        <p>@item.Description</p>
        <p>@item.Price</p>
    }
</div>

