@{
}

<div class="row-cols-1 align-content-center">
    <a asp-action="OrdersList" class="m-1 row btn btn-primary text-decoration-none text-center">Заказы</a>
    <a asp-action="CreateNewCategory" class="m-1 row btn btn-primary text-decoration-none text-center">Управление категориями</a>
    <a asp-action="CreateNewProduct" class="m-1 row btn btn-primary text-decoration-none text-center">Управление продуктами</a>
</div>