@{
}

@model Shop.MVC.ModelViews.UserModelView

<h2 class="text-center">Регистрация</h2>

<div class="container w-50">
    <div class="">
        <form asp-action="Register" method="post">
            <label for="Email">Введите Email</label>
            <input asp-for="Email" placeholder="Email" type="text" class="form-control" id="Email"/>
            <label for="UserName">Введите ваше имя</label>
            <input asp-for="UserName" class="form-control" placeholder="Имя" id="Name"></input>
            <label for="Address">Введите ваш адрес</label>
            <input asp-for="Address" placeholder="Адрес проживания" class="form-control" id="Address"></input>
            <label for="Password">Придумайте пароль</label>
            <input asp-for="Password" placeholder="Пароль" class="form-control" id="Password"></input>
            <div class="text-center my-2">
                <button type="submit" class="btn btn-primary text-center ">Регистрация</button>
            </div>
        </form>
    </div>
</div>